
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
  color: transparent;
  text-shadow: 1px 1px 1.5px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.glass{
 /* From https://css.glass */
 background: rgba(79, 79, 79, 0.15);
 text-align: center;
 box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(5.9px);
 -webkit-backdrop-filter: blur(5.9px);
 border: 1px solid rgba(39, 39, 39, 0.15);
}
.shadow{
 /* From https://css.glass */
 background: rgba(255, 255, 255, 0);
 text-align: center;
 box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(5.9px);
 -webkit-backdrop-filter: blur(5.9px);
 border: 1px solid rgba(39, 39, 39, 0.3);
}
.flat-glass{
 /* From https://css.glass */
 cursor: pointer;
 background: rgba(79, 79, 79, 0.15);
 text-align: center;
 box-shadow: 1px 4px 5px 0px rgba(82,82,82,0.75) inset;
-webkit-box-shadow: 1px 4px 5px 0px rgba(82,82,82,0.75) inset;
-moz-box-shadow: 1px 4px 5px 0px rgba(82,82,82,0.75) inset;
 backdrop-filter: blur(5.9px);
 -webkit-backdrop-filter: blur(5.9px);
 border: 0.5px solid rgba(39, 39, 39, 0.15);
}
.flat-glass:hover {
  background: rgba(39, 39, 39, 0.15);
}
a{
    text-decoration:none;
    pointer-events:none;
}